.logInScreenContainer {
    height: 100vh;
    padding: 0 !important;
    z-index: 1;
    background-image: url(../../assets/intro-pic3.jpg);
    background-size: cover
}
.titleSection {
    top: 80px;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 1;
    position: relative;
}
.titleSection p {
    font-size: 40px;
}
.loginButtons {
    bottom: 50px;
    color: whtie;
    position: relative;
    top: calc(70vh - 300px);
}
.google, 
.Facebook,
.Apple {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 10px;
    border: solid 0px !important;
    height: 45px;
    font-size: 0.9rem;
    border-radius: 4px;
    text-align: left;
}
.googleIcon,
.FacebookIcon,
.AppleIcon {
    width: 1.3rem;
    height: 1.3rem;
    margin-bottom: 6px;
    margin-right: 6px;
    margin-left: 10px;
}
.email {
    width: 80%;
    margin-left: 10%;
    background-color: rgb(189 137 99);
    color: white;
    height: 45px;
    border-radius: 8px;
    margin-bottom: 20px;
    ;
    text-align: center;
    border: solid 0px !important;
}
.LogInText {
    position: relative;
    display: flex;
    justify-content: center !important;
    font-size: 0.8rem;
    color: white;
}
.descriptionText {
    text-align: center;
    font-size: 0.8rem;
    color: white;
}
.rise {
    /* animation: animatedBackground 4s linear; */
    animation-iteration-count: 1;
    position: absolute;
    /* animation-delay: 2s; */
}

.logInImage {
    z-index: 0;
    position: relative;
    height: 100vh;
}
.LogIn-p {
    text-align: center;
    color: #4488cc;
}





