
.TradeOneScreenTopbarContainer{
    position: sticky;
    top: 0;
    right: 0;
    background-color:rgb(15,15,15);
    z-index: 1;
    border-top: 1px solid #202020;
    box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.6);
    width: -webkit-fill-available;
    margin:0px 0px;
    margin-bottom: 0px;
    padding-bottom: 5px;
    display: grid;
    justify-content: center;
}
.TradeOneScreenTopStatusbar{
    padding: 0px 15px !important;
    margin-top: 15px !important;
    margin-bottom: 0px !important;
    height: 40px;
    color: white;
    list-style: none;
 }
.symbolSketText{
    text-align: center;
    color: white;
    text-decoration: none;
    font-family: Arial;
    font-weight: 600;
    font-size: 1rem;
    line-height: 1;
    letter-spacing: 0.03857em;
    margin-top:15px !important;
    margin: 5px 5px;
}
.symboldetailText{
    text-align: center;
    color: rgb(130, 130, 130);
    text-decoration: none;
    font-family: Arial;
    font-weight: 500;
    font-size: 0.8rem;
    line-height: 1;
    letter-spacing: 0.02857em;
}
.TradeOneScreenTopStatusbarText{
    font-size: 0.9rem;
    font-weight: 600;
    margin: 0px 15px;
    color: rgb(210, 210, 210);
}
.arrowBackIcon {
    color: #ffffff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 12px !important;
    left: 12px !important;
}
.plusIcon{
    color: #ffffff;
    position: absolute;
    width: 25px;
    height: 25px;
    top: 12px !important;
    right: 12px !important;
}

