.fullOverlay {
    position: fixed;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.548);
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    display: block;
}
@media (min-width: 900px) {
    .fullOverlay {
      max-width: 500px;
    }
  } 

.fullOverlayImage {
    position: fixed;
    left: calc(50% - 25px);
    top: 40%;
    color: #bb8961;
    width: 30px;
    height: 30px;
    animation: rotation 3s infinite linear;
  }
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }