.tradeAllScreenContainer{
    background-color:rgba(10, 10, 10, 0.98);
    height: 100%;
    padding: 50px 0px !important;
    padding-top:90px !important;
  }
.arrowUpIcon{
    color: #bb8761;
    width:1.2em;
    height:1.2em;
}

