.TradeAllScreenTopbarContainer{
    position: sticky;
    top: 0;
    background-color:rgb(15,15,15);
    z-index: 1;
    border-top: 1px solid #202020;
    box-shadow: 0px -1px 1px 1px rgba(0, 0, 0, 0.6);
    width: -webkit-fill-available;
    margin:0px 0px;
    margin-bottom: 0px;
    display: flow-root;
}
.TradeAllScreenTopStatusbar{
    padding: 0px 15px !important;
    margin-top: 15px !important;
    margin-bottom: 0px !important;
    height: 45px;
    list-style: none;
 }
.TradeAllScreenTopStatusbarText{
    font-size: 1.2rem;
    font-weight: 600;
    padding: 0px 15px;
    color: rgb(233, 233, 233);
}
.TradeAllScreenTopNavbarText{
    font-size: 1rem;
    font-weight: 600;
    padding: 0px 15px;
    color: rgb(117, 117, 117);
}
.topBarIcon{
    color: #cccccc;
    width: 1.2em;
    height: 1.2em;
}
.topStatusHorizonBar{
    background:#bb8761 ;
    height: 0px;
    border-radius: 0px;
}
.TradeAllScreenTopNavbar{
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    overflow-x: auto;
}
.TradeAllScreenTopNavbar::-webkit-scrollbar {
    display: none;
}
.topNavBarRow {
    overflow-x: hidden;
    list-style: none;
    display: inline-flex;
    margin: 10px 0;
    padding-left: 0px !important;
    border-bottom: solid 1px;
    color: #333333;
  }
  li .topBarIcon{
    margin-top: 5px !important;
    margin: 0px 10px;
  }
.navActive{
    padding-bottom: 10px;
    border-bottom: solid 2px;
    color: #bb8761 ;
 } 
.toTopLeft{
    float: left;
    top: 15px !important;
    left: 15px !important;
    vertical-align: text-bottom;
}
.toTopRight{
    float: right;
    top: 15px !important;
    right: 15px !important;
}
